.three-columns {
  background-color: $three-columns-background;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 46px;
  padding-bottom: 86px;
}
