.htc__message-box {
  width: 334px;

  .htc__message-box--title {
    width: 100%;
    font-size: 90px;
    text-align: center;
  }
  .htc__message-box--info {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 28px;
  }
  font-size: 18px;
  text-align: center;
}
.htc__message-box--description {
  width: 100%;
  font-size: 16px;
  text-align: center;
}
