.header__login-register {
  width: 100%;
  margin-bottom: 12px;

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-items: right;
    width: 100%;

    li {
      color: $login-register-color;
      font-size: 12px;
      margin-left: 40px;
      padding: 6px 8px;

      a {
        text-decoration: none;
        &:visited {
          color: $login-register-color;
        }
      }

      &:last-of-type {
        border: 0.75px solid $three-columns-background;
      }
    }
  }
}
