.header__nav {
  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 100%;

    li {
      font-size: 12px;
      margin-left: 40px;
      padding: 6px 15px;
    }
  }
}
