$three-columns-background: #fad648;
$sections-background: #f0f1f1;
$main-text-color: #3c3c3c;
$login-register-color: #737373;
$threecolumns-numbers-color: #5e5322;
$decoratio-color: #1a1818;
$contact-form-opac-val: #3c3c3c26;
