@import url("https://fonts.googleapis.com/css?family=Merriweather|Open+Sans&display=swap");
@import "./settings/font.scss";
@import "./settings/colors.scss";

@import "./components/HomeHeader.scss";
@import "./components/HomeThreeColumns.scss";

* {
  margin: 0 auto;
  padding: 0px;

  &:before {
    box-sizing: inherit;
  }

  &:after {
    box-sizing: inherit;
  }
}

body {
  box-sizing: border-box;
  background-color: #fff;
  font-family: $font-base $font-alt, serif;
  max-width: 1900px;
}
